* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul li {
    list-style: none;
}

#wrap {
    width: 100%;
    height: 100%;
    background: #fff;
}

.top {
    width: 800px;
    height: 300px;
    padding: 50px 50px 0 50px;
    margin: 0 auto;
    display: flex;
}

.top .topL {
    width: 240px;
    height: 220px;
    border: 1px solid #dfdfdf;
}

.top .topL img {
    margin: 40px 30px;
}

.top .topR {
    flex: 1;
    width: 100%;
    height: 220px;
    margin-left: 80px;
}

.top .topR .line1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

.top .topR .line1 b {}

.top .topR .line1 span {
    border: 1px solid green;
    color: green;
    margin-left: 10px;
    padding: 0 5px;
}

.top .topR .line1 em {
    border: 1px solid red;
    color: red;
    font-style: normal;
    margin-left: 10px;
    padding: 0 5px;
}

.top .topR .line2 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #9f9f9f;
}

.top .topR .line3 {
    display: flex;
    height: 80px;
}

.top .topR .line3 .line3L {
    width: 200px;
    height: 80px;
    color: #797979;
}

.top .topR .line3 .line3L p {
    line-height: 30px;
}

.top .topR .line3 .line3L p span {
    color: #fd8bb5;
}

.top .topR .line3 .line3L p em {
    color: green;
    font-style: normal;
}

.top .topR .line3 .line3R {
    flex: 1;
    border-left: 1px solid #ccc;
}

.top .topR .line3 .line3R p {
    color: green;
    line-height: 80px;
    padding-left: 60px;
}

.top .topR .line4 {
    width: 100%;
    height: 60px;
    margin-top: 40px;
}

.top .topR .line4 a {
    width: 115px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
}

.top .topR .line4 a:nth-of-type(1) {
    background: #29abe2;
    color: #fff;
}

.top .topR .line4 a:nth-of-type(2) {
    background: #fff;
    color: #797979;
    border: 1px solid #797979;
}
	
.tab1{
	width: 900px;
	height: 407px;
    margin:0 auto;
	margin-bottom:12px;
}
.tab1 #tabs1{
	width:100%;
	height:32px;
	line-height: 30px;
	float: left;
	margin-top:4px;
}
.tab1 #tabs1 li{
	height:29px;
	float: left;
}
.tab1 #tabs1 a{
	width:56px;
    padding:0 50px;
	display: block;
	float: left;
	height: 28px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	text-align: center;
	/*background: #F6F6F6;*/
	margin-right: 1px;
	border-bottom: 1px solid #ccc;
}
.tab1 #tabs1 li h3{
	width:56px;
	display: block;
	float: left;
	height: 28px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.tab1 .tabresult{
	width:228px;
	height:371px;
	float: left;
}
.tab1 .tabslider{
	width:228px;
	height:371px;
}
.tab1 .tabresult ul li{
	width:116px;
	height:60px;
	padding:16px 12px 16px 100px;
	position: relative;
}
.tab1 .tabresult ul li .img{
	width: 80px;
	height: 60px;
	overflow: hidden;
	position: absolute;
	left: 12px;
	top: 16px;
}
.tab1 .tabresult ul li .img img{
	width: 80px;
	height: 60px;
}
 .tabresult ul li .title{
	height: 36px;
	overflow: hidden;
}
.tab1 .tabresult ul li .money{
	color: #FF6600;
	font-weight: bold;
	font-size: 14px;
	margin-top: 8px;
}
.tab1 .tabresult .item {
		display: none;
}
			
.tab1 .tabresult .show {
		display: block;
	}
.tab1 #tabs1 .current a {
	background: #fff;
	color: #FF6600;
	text-decoration: none;
	border: 1px solid #ccc;
	border-bottom: none;
}