* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li,ol li {
    list-style: none;
}

#wrap {
    width: 100%;
    height: 100%;
    padding-left: 30%;
    background: #fff;
}

.top {
    width: 800px;
    height: 300px;
    padding: 50px 50px 0 0;
    display: flex;
}

.top .topL {
    width: 240px;
    height: 220px;
    border: 1px solid #dfdfdf;
}

.top .topL img {
    margin: 40px 30px;
}
.top .img2 img{
   margin: 50px 60px;
}

.top .topR {
    flex: 1;
    width: 100%;
    height: 220px;
    margin-left: 80px;
}

.top .topR .line1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}


.top .topR .line1 span {
    border: 1px solid green;
    color: green;
    margin-left: 10px;
    padding: 0 5px;
}

.top .topR .line1 em {
    border: 1px solid red;
    color: red;
    font-style: normal;
    margin-left: 10px;
    padding: 0 5px;
}

.top .topR .line2 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #9f9f9f;
}

.top .topR .line3 {
    display: flex;
    height: 80px;
}

.top .topR .line3 .line3L {
    width: 200px;
    height: 80px;
    color: #797979;
}

.top .topR .line3 .line3L p {
    line-height: 30px;
}

.top .topR .line3 .line3L p span {
    color: #fd8bb5;
}

.top .topR .line3 .line3L p em {
    color: green;
    font-style: normal;
}

.top .topR .line3 .line3R {
    flex: 1;
    border-left: 1px solid #ccc;
}

.top .topR .line3 .line3R p {
    color: green;
    line-height: 80px;
    padding-left: 60px;
}

.top .topR .line4 {
    width: 100%;
    height: 60px;
    margin-top: 40px;
}

.top .topR .line4 a {
    width: 115px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
}

.top .topR .line4 a:nth-of-type(1) {
    background: #29abe2;
    color: #fff;
}

.top .topR .line4 a:nth-of-type(2) {
    background: #fff;
    color: #797979;
    border: 1px solid #797979;
}

.tab1 {
    width: 900px;
    height: 407px;
    margin-bottom: 12px;
}

.tab1 #tabs1 {
    width: 100%;
    height: 32px;
    line-height: 30px;
    float: left;
    margin-top: 4px;
}

.tab1 #tabs1 li {
    height: 29px;
    float: left;
}

.tab1 #tabs1 a {
    width: 56px;
    padding: 0 70px;
    display: block;
    float: left;
    height: 28px;
    font-size: 14px;
    color: #999;
    line-height: 28px;
    text-align: center;
    /*background: #F6F6F6;*/
    margin-right: 1px;
    border-bottom: 1px solid #ccc;
}

.tab1 #tabs1 li h3 {
    width: 56px;
    display: block;
    float: left;
    height: 28px;
    font-size: 14px;
    color: #999;
    line-height: 28px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.tab1 .tabresult {
    width: 228px;
    height: 371px;
    float: left;
}

.tab1 .tabslider {
    width: 228px;
    height: 371px;
}

.tab1 .tabresult ul li {
    width: 116px;
    height: 60px;
    padding: 16px 12px 16px 100px;
    position: relative;
}

.tab1 .tabresult ul li .img {
    width: 80px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 12px;
    top: 16px;
}

.tab1 .tabresult ul li .img img {
    width: 80px;
    height: 60px;
}

.tabresult ul li .title {
    height: 36px;
    overflow: hidden;
}

.tab1 .tabresult ul li .money {
    color: #29abe2;
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
}

.tab1 .tabresult .item {
    display: none;
}

.tab1 .tabresult .show {
    display: block;
}

.tab1 #tabs1 .current a {
    background: #fff;
    color: #29abe2;
    text-decoration: none;
    border: 1px solid #ccc;
    border-bottom: none;
}


/*请求参数*/

.tabresult>div {
    padding: 0;
}

.tabresult>div p {
    font-size: 18px;
    line-height: 50px;
    color: #666;
    padding: 20px 0;
}

.tabresult>div table {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabresult>div table tr th {
    width: 150px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    background: #e6e6e6;
    color: #808080;
}

.tabresult>div table tr td {
    width: 150px;
    height: 85px;
    color: #777;
    border: 1px solid #ccc;
    text-align: center;
}

.tabresult>div pre,
.tabresult>div xmp {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    overflow: hidden;
    border: 1px solid #eee;
    background: #fbfbfb;
    border-radius: 4px;
    color: #777;
    white-space: pre;
    line-height: 16px;
    display: block;
    overflow: hidden;
}

.tabresult>div .maintab {
    width: 700px;
    height:300px;
    margin-top:30px;
    display: flex;
}

.tabresult>div .maintab ol {
    width: 150px;
    height: 300px;
    padding-right:50px;
    margin-left:-20px;
    border-right:1px solid #ccc;

}
.tabresult>div .maintab ol li{
  width:160px;
  height:30px;
  line-height:30px;  
  color:#797979;
  white-space: nowrap;
}
.tabresult>div .maintab ol li a{
  color:#797979;
  margin-left:5px;
}
.tabresult>div .maintab ol li span{
    width:10px;
    height:10px;
    display:inline-block;
}
.tabresult>div .maintab ol .tabhover a{
   color:#0094ff;
}
.tabresult>div .maintab ol .tabhover span{
    width:0;
    height:0;
    border-top: 5px solid transparent;
    border-left: 10px solid #0094ff;
    border-bottom: 5px solid transparent;
}
.tabresult>div .maintab .tabcontent {
    flex:1;
    width:100%;
    padding-left:30px;
}

.tabresult>div .maintab .tabcontent p{
    width:100%;
    height:15px;
    line-height:15px;
    font-size:16px;
    white-space: nowrap;
}

#tab13 .pre2{
    height:auto;
}